@import 'tailwindcss';

@theme {
  --color-sl-brown: #684f3a;
  --color-sl-olive: #7f8051;
  --color-sl-light-olive: #dad8a2;
  --color-sl-cream: #f5ecd8;
  --color-sl-light-brown: #d1a07b;
  --shadow-elevation-high: 0px -0.4px 0.4px hsl(var(--shadow-color) / 0.43),
    0px -1px 0.9px -0.6px hsl(var(--shadow-color) / 0.39), -0.1px -2px 1.8px -1.1px hsl(var(--shadow-color) / 0.35),
    -0.1px -3.8px 3.4px -1.7px hsl(var(--shadow-color) / 0.31), -0.2px -7px 6.3px -2.3px hsl(var(--shadow-color) / 0.27),
    -0.4px -12.2px 11px -2.9px hsl(var(--shadow-color) / 0.23),
    -0.6px -19.7px 17.7px -3.4px hsl(var(--shadow-color) / 0.19),
    -0.9px -30.3px 27.3px -4px hsl(var(--shadow-color) / 0.15);
  --animate-dialog-kf: dialogKf 3s ease-in-out;

  @keyframes dialogKf {
    0% {
      transform: opacity(0);
    }
    100% {
      transform: opacity(1);
    }
  }
}
